<style>
{% include sass/scrollspy.scss %}
</style>

{% if page.scrollspy_header %}

<div data-gumshoe-header class="bs-docs-sidebar">
	{% assign project = site.project_types | where:"name",page.project_type | first %}

	{% assign category_name = project.category_type | append: "_categories" %}
	{% assign categories = site[category_name] %}
	{% assign categories_sorted = categories | sort:"category_ix" %}

	<ul data-gumshoe class="nav nav-stacked fixed">
	{% for category in categories_sorted %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#{{ category.href | default:category.name | slugify }}">
			{{ category.name }}
			</a>
			<ul class="dropdown-menu">
			{% assign projects_in_category = site[project.collection_name] | where:"category",category.name %}
			{% assign sorted_projects_in_category = projects_in_category | sort:"within_category_ix" %}
			{% for proj in sorted_projects_in_category %}
				<li>
					<a class="dropdown-item" href="#{{ proj.title | slugify }}">{{ proj.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}