<style>
{% include sass/scrollspy.scss %}
</style>

{% if page.scrollspy_header %}
<div data-gumshoe-header class="bs-docs-sidebar">
	{% assign category_name = page.category_type | append: "_categories" %}
	{% assign categories = site[category_name] %}
	{% assign categories_sorted = categories | sort:"category_ix" %}

	<ul data-gumshoe class="nav nav-stacked fixed">
	{% for category in categories_sorted %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#{{ category.name | slugify }}">
			{{ category.name }}
			</a>
			<ul class="dropdown-menu">
			{% assign games_in_category = site.games | where:"category",category.name %}
			{% assign sorted_games_in_category = games_in_category | sort:"within_category_ix" %}
			{% for game in sorted_games_in_category %}
				<li>
					<a class="dropdown-item" href="#{{ game.title | slugify }}">{{ game.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}