<script type="text/javascript">
function onGumshoeLoad() {
	gumshoe.init({
		offset: 40,
		activateAlso: function(domNode) {
			return domNode.classList.contains('dropdown-item')
			&& domNode.parentNode
			&& domNode.parentNode.parentNode
			&& domNode.parentNode.parentNode.parentNode
			&& domNode.parentNode.parentNode.parentNode.firstElementChild;
		}
	});
}
</script>
<script type="text/javascript" async defer onload="onGumshoeLoad()"
src="{{ "/assets/scrollspy/gumshoe.3.5.0.fork.min.js" | relative_url }}"></script>