<style>
{% include sass/scrollspy.scss %}
</style>

{% if page.scrollspy_header %}
<div data-gumshoe-header class="bs-docs-sidebar">
	{% assign games_by_category = site.games | group_by:"category_ix" | sort:"name" %}

	<ul data-gumshoe class="nav nav-stacked fixed">
	{% for category in games_by_category %}
		{% assign active_class = '' %}
		{% if category == games_by_category.first %}
			{% assign active_class = 'active' %}
		{% endif %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#{{ category.items.first.category | slugify }}">
			{{ category.items.first.category }}
			<ul class="dropdown-menu"></ul>
			{% assign games_in_category = category.items | sort:"within_category_ix" %}
			{% for game in games_in_category %}
				<li>
					<a class="dropdown-item" href="#{{ game.title | slugify }}">{{ game.title }}</a>
				</li>
			{% endfor %}
			</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}