---
layout: default
---

{% assign project = site.project_types | where:"name",page.project_type | first %}

{% assign styles_path = "sass/" | append: project.category_type | append: "-styles.scss" %}
{% capture styles_raw %}
{% include {{ styles_path }} %}
{% endcapture %}
<style type="text/css">
{{ styles_raw | scssify }}
</style>

<h1>{{ project.title }}</h1>

{% if project.preface %}
  {% include {{project.preface}} %}
{% endif %}

{% assign category_name = project.category_type | append: "_categories" %}
{% assign categories = site[category_name] %}
{% assign categories_sorted = categories | sort:"category_ix" %}

<div class="project">
{% for category in categories_sorted %}
	{% unless category.has_content %}
	<h2 id="{{ category.title | slugify }}">
	{{ category.title }}
	</h2>
	{% endunless %}
	{% assign projects_in_category = site[project.collection_name] | where:"category",category.name %}
	{% assign sorted_projects_in_category = projects_in_category | sort:"within_category_ix" %}
	{% for proj in sorted_projects_in_category %}
		{%
			include /project-repeating-unit.html
			img_path = proj.img_path
			img_id = proj.img_id
			title = proj.title
			content = proj.content
			heading_level = "h3"
			img_alt = proj.img_alt
			href = proj.href
			smol_headings = project.smol_headings
			above_fold = proj.above_fold
		%}
  	{% endfor %}
  	{% if category.has_content %}
	  	{%
			include /project-repeating-unit.html
			img_path = category.img_path
			img_id = category.img_id
			title = category.title
			content = category.content
			heading_level = "h2"
			img_alt = category.img_alt
			supertitle = category.supertitle
			href = category.href
			smol_headings = project.smol_headings
			above_fold = category.above_fold
		%}
	{% endif %}
{% endfor %}
</div>

{% comment %}
<script type="text/javascript">
(window.requestAnimationFrame
	|| window.mozRequestAnimationFrame
	|| window.webkitRequestAnimationFrame
	|| window.msRequestAnimationFrame
	|| window.addEventListener.bind(null, 'load')
	)(function imgGet() {
var imgDefer = document.getElementsByTagName('img');
	for (var i=0; i<imgDefer.length; i++) {
		if(imgDefer[i].getAttribute('data-src')) {
			imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
		}
	}
});
</script>
{% endcomment %}

{% include /elevator.html %}
{% include /scrollspy.html %}