section {
	clear: both;
	display: inline-block;
	float: left;
	margin-bottom: 1.6rem;
	max-width: 100%;
}

// img {
// 	width: 142px;
// 	height: 112px;
// }

h1,h2,h3 {
	clear:both;
}

footer a {
	color: #777;
}