section {
	clear: both;
	display: inline-block;
	float: left;
	margin-bottom: 1.6rem;
	max-width: 100%;
}

// img {
// 	width: 142px;
// 	height: 112px;
// }

h1,h2,h3 {
	clear:both;
}

footer a {
	color: #777;
}

@media screen and (min-width: $small-breakpoint + 1) {
  aside {
    // height: auto;
    float: right;
    // clear: right;
    max-width: calc(40% - 1rem);
    // display: block;
    // width: 100%
  }
  article {
    float: left;
    max-width: calc(60% - 1rem);
    // clear: left;
    // width: 100%;
    // display: block;
  }
}

footer p {
  margin-bottom: $md-pad !important;
}

a {
  color: #1271db;
}

a, a:focus, a:hover {
  text-decoration: none;
}
nav a {
  color: $text;
  border-bottom: .2rem solid transparent;

  -webkit-transition: border-color .25s ease;
  transition: border-color .25s ease;

  &:hover,
  &:focus {
    color: $text;
    border-color: rgba(0,0,0,.2);
    text-decoration: none;
  }
}

.middle {
  padding-bottom: 0px !important;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-evenly;

  margin-top: 16px;

  padding-left: 0px;
  padding-right: 0px;

  // &>li>a,
  // &>li>b {
  //   // padding-left: 1em;
  //   // padding-right: 1em;
  // }

  &>li {
    margin-right: 1em;
    margin-bottom: 0.5em;

    &>a,
    &>b {
      // increase hit area
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }

  // &>li:last-child {
  //   margin-right: 0em;
  // }
  // justify-content: 
}