section {
	clear: both;
	display: inline-block;
	float: left;
	margin-bottom: 1.6rem;
	max-width: 100%;
}

// img {
// 	width: 142px;
// 	height: 112px;
// }

h1,h2,h3 {
	clear:both;
}

footer a {
	color: #777;
}

@media screen and (min-width: $small-breakpoint + 1) {
  aside {
    // height: auto;
    float: right;
    // clear: right;
    max-width: calc(40% - 1rem);
    // display: block;
    // width: 100%
  }
  article {
    float: left;
    max-width: calc(60% - 1rem);
    // clear: left;
    // width: 100%;
    // display: block;
  }
}

footer p {
  margin-bottom: $md-pad !important;
}